header{
  font-size: 1.4rem;
  color: white;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}



body{
    background-color: #3C0344;
    background-size: cover;
    
    
}

nav{
    background-color: #3C0344;
    padding: 5px;
    border: 3px solid violet;
    width: 1070px;   
    margin: 10px;
    margin-left: 10px;
    box-shadow: 10px 7px 9px 10px white;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

       
}

li{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    flex-wrap:wrap;
    padding: 10px;

}


#a1{
    
    padding: 10px;
    animation-name: changement-couleur1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: 10s;
    color: white;
    background-color:violet;
    padding: 20px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 12px;
    text-decoration: none;
    width: 900px;
        
}

#a2{
    
    padding: 10px;
    animation-name: changement-couleur2;
    animation-duration: 10s;
    animation-delay: 10s;
    animation-iteration-count: infinite;
    transition: 10s;
    color: white;
    background-color:violet;
    padding: 20px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 12px;
    text-decoration: none;
    width: 900px;
        
}

#a3{
    
    padding: 10px;
    animation-name: changement-couleur3;
    animation-duration: 10s;
    animation-delay: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: 10s;
    color: white;
    background-color:violet;
    padding: 20px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 12px;
    text-decoration: none;
    width: 900px;
        
}


#a4{
    
    padding: 10px;
    animation-name: changement-couleur4;
    animation-duration: 10s;
    animation-delay: 30s;
    animation-iteration-count: infinite;
    transition: 10s;
    color: white;
    background-color:violet;
    padding: 20px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 12px;
    text-decoration: none;
    width: 900px;
        
}

#a5{
    
    padding: 10px;
    animation-name: changement-couleur5;
    animation-duration: 10s;
    animation-delay: 40s;
    animation-iteration-count: infinite;
    transition: 10s;
    color: white;
    background-color:violet;
    padding: 20px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 12px;
    text-decoration: none;
    width: 900px;
        
}

#a6{
    
    padding: 10px;
    animation-name: changement-couleur6;
    animation-duration: 10s;
    transition: 10s;
    animation-delay: 50s;
    animation-iteration-count: infinite;
    color: white;
    background-color:violet;
    padding: 20px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 12px;
    text-decoration: none;
    width: 900px;
        
}


#a7{
    
    padding: 10px;
    animation-name: changement-couleur7;
    animation-duration: 10s;
    animation-delay: 60s;
    animation-iteration-count: infinite;
    transition: 10s;
    color: white;
    background-color:violet;
    padding: 20px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 12px;
    text-decoration: none;
    width: 900px;
        
}

#a8{
    
    padding: 10px;
    animation-name: changement-couleur8;
    animation-duration: 10s;
    animation-delay: 70s;
    animation-iteration-count: infinite;
    transition: 10s;
    color: white;
    background-color:violet;
    padding: 20px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 12px;
    text-decoration: none;
    width: 900px;
        
}
@keyframes changement-couleur1{
    from{background-color:violet;}
    to {background-color: #3196b2ee;}
}

@keyframes changement-couleur2{
    from{background-color:violet;}
    to {background-color: #3196b2ee;}
}

@keyframes changement-couleur3{
    from{background-color:violet;}
    to {background-color:  #3196b2ee;}
}

@keyframes changement-couleur4{
    from{background-color:violet;}
    to {background-color:  #3196b2ee;;}
}


@keyframes changement-couleur5{
    from{background-color:violet;}
    to {background-color:  #3196b2ee;}
}


@keyframes changement-couleur6{
    from{background-color:violet;}
    to {background-color:  #3196b2ee;;}
}

@keyframes changement-couleur7{
    from{background-color: violet;}
    to {background-color:  #3196b2ee;}
}

@keyframes changement-couleur8{
    from{background-color:violet;}
    to {background-color:  #3196b2ee;}
}





a{
    color: white;
    background-color:violet;
    padding: 20px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 12px;
    text-decoration: none;
    width: 900px;
     

}



a:hover{
    border: 2px solid red;
    border-radius: 4px solid red;
    font-size: 1.2rem;
    transition: 5s;
    background-color: rgba(0, 0, 0, 0.164);
    text-shadow: 8px 10px 12px mediumorchid;
    
}


#a0{
    width: 10000px;
     
}
 
source,video{
    width: 1000px;
    height: 400px;
}

#films{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 1.3rem;
    margin-left: 10px;
}




.filmsactions{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

#pfooter{
    background-color: white;
}
  








@media screen and (max-width : 900px) 
{
    body{
        background-color:#912e9e;
        background-size:cover;
        
    }    

nav{
    
    margin-top: 10px;
    width:260px;
    padding-right: 80px;
    padding-left: 0px;
    padding-top: 0px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 5px 5px red ;
    margin-left: 1px;
    margin-right: 5px;
    font-size: 1em;
    

    
   
}

.nava{
    display:inline-block;
    
   
    
}


a{
    margin: 5px;
    margin-left: 20px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
    text-align: center;
    
}

#a1{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
    text-align: center;
}


#a2{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
    text-align: center;
}

#a3{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
    text-align: center;
}

#a4{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
    text-align: center;
}

#a5{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
    text-align: center;
}

#a6{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
    text-align: center;
}

#a7{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
    text-align: center;
}

#a8{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
    text-align: center;
}

#lienstorrents{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
    text-align: center;
}

#cours_de_philosophie{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
    text-align: center;
}
a:hover{
    background-color: white;
    color: black;
    
}

 
header{
    font-size: 10px;
    color: white;
    width: 350px;
    font-size: 0.9em;
 
     
    
}



#films{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}



#iso1{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
      
}


#iso2{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rub8ik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
      
}


#iso3{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
      
}


 #torrents1{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
 }


 #cours-philo{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
 
 }


#cours-francais{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur2;
    animation-duration: 10s;
    animation-delay: 10s;
    animation-iteration-count:infinite;
}

#cours-HG{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur3;
    animation-duration: 10s;
    animation-delay: 20s;
    animation-iteration-count:infinite;
}


#droit{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur4;
    animation-duration: 10s;
    animation-delay: 30s;
    animation-iteration-count:infinite;
}


#informatique{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur5;
    animation-duration: 10s;
    animation-delay: 40s;
    animation-iteration-count:infinite;
}


#hacking{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur6;
    animation-duration: 10s;
    animation-delay: 50s;
    animation-iteration-count:infinite;
}
 @keyframes changement-couleur1 {
    from{background-color: violet;
    text-shadow: 5x 7px 8px #3C0344;}
    to{background-color: #3196b2ee;
    text-shadow: 5px 7px 8px #3C0344;}
    
 }


 
 @keyframes changement-couleur2 {
    from{background-color: violet;
    text-shadow: 5x 7px 8px #3C0344;}
    to{background-color: #3196b2ee;
    text-shadow: 5px 7px 8px #3C0344;}
    
 }


  
 @keyframes changement-couleur23{
    from{background-color: violet;
    text-shadow: 5x 7px 8px #3C0344;}
    to{background-color: #3196b2ee;
    text-shadow: 5px 7px 8px #3C0344;}
    
 }


 #lesfichierstorrents{
    text-align: center;
    font-size: 1.7em;
    margin-left: 10px;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
    background-color: #37053d;
}

#lesfichierstorrentsFilmsreligieux{
      
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  font-size: 2.7em;
  text-align: center;
 

}

 

.torrentsexplications{
    margin-top: 0px;
    width:302px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 0px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 5px 5px red ;
    margin-left: 10px;
    font-size: 1.5em;
    background-color:#35114d;
    color: white;
}

.logiciels{
    
    width:300px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 5px 5px red ;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 1.5em;
    background-color:white;
    color: white;
    display: grid;
    justify-content: space-around;
    flex-direction: row;
}


h2{
     
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 
    "MORF" 15,
    "SHLN" 50;
    
}

#Cliquez-ici-pour-telecharger-le-torent{
    font-size: 0.6em;
    margin: 0px;
    margin-left: 0px;
    width: 0px;
    text-align:center;
    background-color:black;
    border: 1px solid red;
    color: white;
    padding-left: 20px;
    
}




#Cliquez-ici-pour-telecharger-le-logiciel{
    
    font-size: 0.8em;
    margin: 10px;
    margin-right:10px ;
    padding-right: 0px;
    padding-left: 4px;
    margin-left: 0px;
    width: 310px;
    text-align:center;
    background-color:#7f0f8b;
    border: 1px solid red;
    animation-name: cht-couleur1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cht-couleur1 {
    from{
        background-color: #7f0f8b;
    }
    to{
        background-color:rgb(19, 31, 87);
    }
}
 
.fusions{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}



#titre-application{
    color: #7f0f8b;
    font-size: 1.2em;
}

#logo{
    margin-top: 10px;
    width: 310px;
    border-radius: 12px;
}

#logo-logociel{
    margin-top: 10px;
    width: 90px;
    height: 60px;
    
}
#historique-de-windows-XP{
    
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

#titre-windows{
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;

}

.Titre-Films-Religieux{
    color: white;
}

}

#page-en-cours-de-maintenance{
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7em;
  color: white;
}










@media screen and (max-width : 500px)
{
    
    body{
        background-color:#912e9e;
        background-size:cover;
        
    }    

nav{
    
    margin-top: 10px;
    width:300px;
    padding-right: 80px;
    padding-left: 10px;
    padding-top: 35px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 5px 5px red ;
    margin-left: 1px;
    margin-right: 5px;
    font-size: 1em;
    

    
   
}

.nava{
    display:inline-block;
    
   
    
}


a{
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
    text-align: center;
    
}

#a1{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}


#a2{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#a3{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#a4{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#a5{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#a6{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#a7{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#a8{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#lienstorrents{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#cours_de_philosophie{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}
a:hover{
    background-color: white;
    color: black;
    
}

 
header{
    
    color: white;
    width: 396px;
    font-size: 0.9em;
    padding-left: 0px;
    padding-right: 10px;
    margin-right: 20px;
     
     
    
}



#films{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}



#iso1{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
      
}


#iso2{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rub8ik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
      
}


#iso3{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
      
}


 #torrents1{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
 }


 #cours-philo{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
 
 }


#cours-francais{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur2;
    animation-duration: 10s;
    animation-delay: 10s;
    animation-iteration-count:infinite;
}

#cours-HG{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur3;
    animation-duration: 10s;
    animation-delay: 20s;
    animation-iteration-count:infinite;
}


#droit{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur4;
    animation-duration: 10s;
    animation-delay: 30s;
    animation-iteration-count:infinite;
}


#informatique{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur5;
    animation-duration: 10s;
    animation-delay: 40s;
    animation-iteration-count:infinite;
}


#hacking{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur6;
    animation-duration: 10s;
    animation-delay: 50s;
    animation-iteration-count:infinite;
}
 @keyframes changement-couleur1 {
    from{background-color: violet;
    text-shadow: 5x 7px 8px #3C0344;}
    to{background-color: #3196b2ee;
    text-shadow: 5px 7px 8px #3C0344;}
    
 }


 
 @keyframes changement-couleur2 {
    from{background-color: violet;
    text-shadow: 5x 7px 8px #3C0344;}
    to{background-color: #3196b2ee;
    text-shadow: 5px 7px 8px #3C0344;}
    
 }


  
 @keyframes changement-couleur23{
    from{background-color: violet;
    text-shadow: 5x 7px 8px #3C0344;}
    to{background-color: #3196b2ee;
    text-shadow: 5px 7px 8px #3C0344;}
    
 }


 #lesfichierstorrents{
    text-align: center;
    font-size: 1.7em;
    margin-left: 10px;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
    background-color: #37053d;
}

#lesfichierstorrentsFilmsreligieux{
      
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  font-size: 2.7em;
  text-align: center;
 

}

 

.torrentsexplications{
    margin-top: 0px;
    width:302px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 0px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 5px 5px red ;
    margin-left: 10px;
    font-size: 1.5em;
    background-color:#35114d;
    color: white;
}

.logiciels{
    
    width:300px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 5px 5px red ;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 1.5em;
    background-color:white;
    color: white;
    display: grid;
    justify-content: space-around;
    flex-direction: row;
}


h2{
     
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 
    "MORF" 15,
    "SHLN" 50;
    
}

#Cliquez-ici-pour-telecharger-le-torent{
    font-size: 0.6em;
    margin: 0px;
    margin-left: 0px;
    width: 0px;
    text-align:center;
    background-color:black;
    border: 1px solid red;
    color: white;
    padding-left: 20px;
    
}




#Cliquez-ici-pour-telecharger-le-logiciel{
    
    font-size: 0.8em;
    margin: 10px;
    margin-right:10px ;
    padding-right: 0px;
    padding-left: 4px;
    margin-left: 0px;
    width: 310px;
    text-align:center;
    background-color:#7f0f8b;
    border: 1px solid red;
    animation-name: cht-couleur1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cht-couleur1 {
    from{
        background-color: #7f0f8b;
    }
    to{
        background-color:rgb(19, 31, 87);
    }
}
 
.fusions{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}



#titre-application{
    color: #7f0f8b;
    font-size: 1.2em;
}

#logo{
    margin-top: 10px;
    width: 310px;
    border-radius: 12px;
}

#logo-logociel{
    margin-top: 10px;
    width: 90px;
    height: 60px;
    
}
#historique-de-windows-XP{
    
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

#titre-windows{
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;

}

.Titre-Films-Religieux{
    color: white;
}

}

#page-en-cours-de-maintenance{
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7em;
  color: white;

    
}










@media screen and (max-width : 600px)
{
    
    body{
        background-color:#912e9e;
        background-size:cover;
        
    }    

nav{
    
    margin-top: 10px;
    width:300px;
    padding-right: 80px;
    padding-left: 10px;
    padding-top: 35px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 5px 5px red ;
    margin-left: 1px;
    margin-right: 5px;
    font-size: 1em;
    

    
   
}

.nava{
    display:inline-block;
    
   
    
}


a{
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    width: 230px;
    text-align: center;
    
}

#a1{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}


#a2{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#a3{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#a4{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#a5{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#a6{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#a7{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#a8{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#lienstorrents{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}

#cours_de_philosophie{
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    width: 230px;
    text-align: center;
}
a:hover{
    background-color: white;
    color: black;
    
}

 
header{
    
    color: white;
    width: 396px;
    font-size: 0.9em;
    padding-left: 0px;
    padding-right: 10px;
    margin-right: 20px;
     
     
    
}



#films{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}



#iso1{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
      
}


#iso2{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rub8ik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
      
}


#iso3{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
      
}


 #torrents1{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
 }


 #cours-philo{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
 
 }


#cours-francais{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur2;
    animation-duration: 10s;
    animation-delay: 10s;
    animation-iteration-count:infinite;
}

#cours-HG{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur3;
    animation-duration: 10s;
    animation-delay: 20s;
    animation-iteration-count:infinite;
}


#droit{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur4;
    animation-duration: 10s;
    animation-delay: 30s;
    animation-iteration-count:infinite;
}


#informatique{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur5;
    animation-duration: 10s;
    animation-delay: 40s;
    animation-iteration-count:infinite;
}


#hacking{
    box-shadow: 3px 4px 4px 1px red;
    width: 270px;
    font-family: "Rubik Broken Fax", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
    animation-name: changement-couleur6;
    animation-duration: 10s;
    animation-delay: 50s;
    animation-iteration-count:infinite;
}
 @keyframes changement-couleur1 {
    from{background-color: violet;
    text-shadow: 5x 7px 8px #3C0344;}
    to{background-color: #3196b2ee;
    text-shadow: 5px 7px 8px #3C0344;}
    
 }


 
 @keyframes changement-couleur2 {
    from{background-color: violet;
    text-shadow: 5x 7px 8px #3C0344;}
    to{background-color: #3196b2ee;
    text-shadow: 5px 7px 8px #3C0344;}
    
 }


  
 @keyframes changement-couleur23{
    from{background-color: violet;
    text-shadow: 5x 7px 8px #3C0344;}
    to{background-color: #3196b2ee;
    text-shadow: 5px 7px 8px #3C0344;}
    
 }


 #lesfichierstorrents{
    text-align: center;
    font-size: 1.7em;
    margin-left: 10px;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
    background-color: #37053d;
}

#lesfichierstorrentsFilmsreligieux{
      
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  font-size: 2.7em;
  text-align: center;
 

}

 

.torrentsexplications{
    margin-top: 0px;
    width:302px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 0px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 5px 5px red ;
    margin-left: 10px;
    font-size: 1.5em;
    background-color:#35114d;
    color: white;
}

.logiciels{
    
    width:300px;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 3px 5px 5px red ;
    margin-left: 10px;
    margin-bottom: 0px;
    font-size: 1.5em;
    background-color:white;
    color: white;
    display: grid;
    justify-content: space-around;
    flex-direction: row;
}


h2{
     
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 
    "MORF" 15,
    "SHLN" 50;
    
}

#Cliquez-ici-pour-telecharger-le-torent{
    font-size: 0.6em;
    margin: 0px;
    margin-left: 0px;
    width: 0px;
    text-align:center;
    background-color:black;
    border: 1px solid red;
    color: white;
    padding-left: 20px;
    
}




#Cliquez-ici-pour-telecharger-le-logiciel{
    
    font-size: 0.8em;
    margin: 10px;
    margin-right:10px ;
    padding-right: 0px;
    padding-left: 4px;
    margin-left: 0px;
    width: 310px;
    text-align:center;
    background-color:#7f0f8b;
    border: 1px solid red;
    animation-name: cht-couleur1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes cht-couleur1 {
    from{
        background-color: #7f0f8b;
    }
    to{
        background-color:rgb(19, 31, 87);
    }
}
 
.fusions{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}



#titre-application{
    color: #7f0f8b;
    font-size: 1.2em;
}

#logo{
    margin-top: 10px;
    width: 310px;
    border-radius: 12px;
}

#logo-logociel{
    margin-top: 10px;
    width: 90px;
    height: 60px;
    
}
#historique-de-windows-XP{
    
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}

#titre-windows{
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;

}

.Titre-Films-Religieux{
    color: white;
}

}

#page-en-cours-de-maintenance{
  font-family: "Almendra", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7em;
  color: white;

    
}